@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.table .tableTitles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 15rem;
      grid-template-columns: 4rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 15rem;
}

@media (max-width: 1380px) {
  .table .tableTitles {
    -ms-grid-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 8rem;
        grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 8rem;
  }
}

@media (max-width: 1240px) {
  .table .tableTitles {
    -ms-grid-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem;
        grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem;
  }
}

.table .tableTitles .actionsTitleWrapper {
  border: none;
}

@media (max-width: 1240px) {
  .table .tableTitles .actionsTitleWrapper {
    display: none;
  }
}

.table .error {
  font-size: 2rem;
  font-weight: 500;
  color: crimson;
}
