@import "../../../assets/styles/styles.scss";
.table {
  .tableTitles {
    @include row;
    .actionsTitleWrapper {
      border: none;
      @include desktopSmall {
        display: none;
      }
    }
  }
  .error {
    font-size: 2rem;
    font-weight: 500;
    color: $error;
  }
}
