@import "../../../assets/styles/styles.scss";
.editor {
  display: flex;
  display: grid;
  grid-template-columns: 4rem 58rem 15rem;
  @include desktop {
    grid-template-columns: 3rem 58rem 8rem;
  }
  @include desktopSmall {
    grid-template-columns: 3rem 58rem;
  }
  @include tabletLandscape {
    grid-template-columns: 2rem 48rem;
  }
  @include tabletSmall {
    grid-template-columns: 2rem 44.5rem;
  }
  @include tabletSmallSecond {
    grid-template-columns: 2rem 39rem;
  }
  @include mobile {
    grid-template-columns: 2rem 35rem;
  }
  @include mobileSecond {
    grid-template-columns: 2rem 31rem;
  }
  @include mobileSmall {
    grid-template-columns: 2rem 27rem;
  }
  @include mobileSmallSecond {
    grid-template-columns: 2rem 24.5rem;
  }
  @include mobileSmallThird {
    grid-template-columns: 1.85rem 18rem;
  }
  @include mobileSmallest {
    display: flex;
    flex-wrap: wrap;
  }
  .formWrapper {
    .form {
      display: grid;
      grid-template-columns: 10rem 7rem 7rem 10rem 10rem 7rem 7rem;
      @include tabletLandscape {
        grid-template-columns: 8rem 6rem 6rem 8rem 8rem 6rem 6rem;
      }
      @include tabletSmall {
        grid-template-columns: 7.5rem 5.5rem 5.5rem 7.5rem 7.5rem 5.5rem 5.5rem;
      }
      @include tabletSmallSecond {
        grid-template-columns: 7rem 5rem 3rem 7rem 7rem 5rem 5rem;
      }
      @include mobile {
        grid-template-columns: 7rem 4.5rem 3rem 6.5rem 6.5rem 4rem 3.5rem;
      }
      @include mobileSecond {
        grid-template-columns: 6rem 3.5rem 3rem 5.5rem 5.5rem 4rem 3.5rem;
      }
      @include mobileSmall {
        grid-template-columns: 5rem 3.5rem 3rem 4rem 4rem 4rem 3.5rem;
      }
      @include mobileSmallSecond {
        grid-template-columns: 4rem 3rem 3rem 3.5rem 3.5rem 4rem 3.5rem;
      }
      @include mobileSmallThird {
        grid-template-columns: 3rem 2.5rem 2.5rem 3rem 3rem 3.75rem 3.25rem;
      }
      @include mobileSmallest {
        display: flex;
        flex-wrap: wrap;
      }
      //.inputWrapper {
      //  border: solid 0.1rem $greyBorderColor;
      //  padding: 0.5rem;
      //  input {
      //    max-width: calc(100% - 0.5rem);
      //    padding: 0.5rem 0.25rem;
      //    min-height: 1rem;
      //    font-weight: 400;
      //  }
      //}
    }
  }
  .actions {
    @include cell;
    display: flex;
  }
}
