@import "../../../assets/styles/styles.scss";
.input {
  border: solid 0.1rem $greyBorderColor;
  max-width: 85%;
  display: none;
  //overflow: auto;
  input {
    width: 100%;
    padding: 0.5rem;
    min-height: 1rem;
    font-weight: 400;
  }
}
