@import "../../../assets/styles/styles.scss";
.cell {
  padding: 0.5rem 0.25rem;
  min-height: 1rem;
  font-weight: 400;
  border: solid 0.1rem $greyBorderColor;
  background-color: $bgcLightGrey;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include tabletSmallSecond {
    flex-direction: column;
  }
  .cellSimbol {
    display: none;
  }
  @include desktop {
    padding: 0.5rem 0.25rem;
    font-size: 0.75rem;
  }
  @include tabletLandscape {
    padding: 0.5rem 0.15rem;
  }
  @include mobileSmallSecond {
    padding: 0.5rem 0.1rem;
    font-size: 0.65rem;
  }
}
.cellTitle,
.cellTitleActions {
  border: none;
  background: none;
  font-weight: bold;
  @include tabletLandscape {
    font-weight: 400;
  }
  @include tabletSmallSecond {
    min-height: 2.6rem;
    padding: 0 0.15rem;
  }
}
.number {
  border: none;
  background: none;
}
