$bgcLight: #fbfbfb;

$mainFontColor: #2d2d2d;

$greyFontColor: #a9a9a9;

$greyBorderColor: #c5bfbf;

$bgcLightGrey: rgba(201, 201, 195, 0.5);

$bgcLightGreen: rgba(188, 245, 182, 0.2);

$bgcLightYellow: rgba(228, 245, 182, 0.2);

$greenColor: #51e245;

$shadow: rgba(131, 126, 126, 0.1);

$shadowDark: rgba(0, 0, 0, 0.1);

$white: #fff;

$gold: #f1b926;

$lightGold: #f5d78a;

$error: crimson;
