@mixin content {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto 0 auto;
}

@mixin cell {
  min-width: 2rem;
  padding: 0.5rem 0.25rem;
  border: solid 0.1rem $greyBorderColor;
}

@mixin row {
  display: grid;
  grid-template-columns: 4rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 15rem;
  @include desktop {
    grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 8rem;
  }
  @include desktopSmall {
    grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem;
  }
}
