@mixin content {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto 0 auto;
  @include desktopSmall {
    width: 95%;
  }
  @include mobileSmall {
    width: 98%;
  }
}

@mixin cell {
  min-width: 2rem;
  padding: 0.5rem 0.25rem;
  border: solid 0.1rem $greyBorderColor;
  @include tabletLandscape {
    min-width: 1.5rem;
    padding: 0.5rem 0.1rem;
  }
}

@mixin row {
  display: grid;
  grid-template-columns: 4rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 15rem;
  @include desktop {
    grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem 8rem;
  }
  @include desktopSmall {
    grid-template-columns: 3rem 10rem 7rem 7rem 10rem 10rem 7rem 7rem;
  }
  @include tabletLandscape {
    grid-template-columns: 2rem 8rem 6rem 6rem 8rem 8rem 6rem 6rem;
  }
  @include tabletSmall {
    grid-template-columns: 2rem 7.5rem 5.5rem 5.5rem 7.5rem 7.5rem 5.5rem 5.5rem;
  }
  @include tabletSmallSecond {
    grid-template-columns: 2rem 7rem 5rem 3rem 7rem 7rem 5rem 5rem;
  }
  @include mobile {
    grid-template-columns: 2rem 7rem 4.5rem 3rem 6.5rem 6.5rem 4rem 3.5rem;
  }
  @include mobileSecond {
    grid-template-columns: 2rem 6rem 3.5rem 3rem 5.5rem 5.5rem 4rem 3.5rem;
  }
  @include mobileSmall {
    grid-template-columns: 2rem 5rem 3.5rem 3rem 4rem 4rem 4rem 3.5rem;
  }
  @include mobileSmallSecond {
    grid-template-columns: 2rem 4rem 3rem 3rem 3.5rem 3.5rem 4rem 3.5rem;
  }
  @include mobileSmallThird {
    grid-template-columns: 1.85rem 3rem 2.5rem 2.5rem 3rem 3rem 3.75rem 3.25rem;
  }
  @include mobileSmallest {
    display: flex;
    flex-wrap: wrap;
  }
}
