@import "../../../assets/styles/styles.scss";

.btn {
  cursor: pointer;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.nav {
  background: $gold;
}

.edite,
.delete,
.submit,
.add,
.upload,
.export {
  color: $white;
  background-color: $error;
}

.inactive {
  background-color: $inactive;
  cursor: not-allowed;
}

.edite,
.submit {
  background-color: $darkBlue;
  margin-right: 0.5rem;
}

.upload,
.export {
  background-color: $darkGreen;
}

.add {
  background-color: $lightBlue;
  margin-left: 55rem;
}
