@import "../../../assets/styles/styles.scss";

.btn {
  cursor: pointer;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.nav {
  background: $gold;
}

.edit,
.delete,
.submit,
.add,
.upload,
.export {
  color: $white;
  background-color: $error;
}

.inactive {
  background-color: $inactive;
  cursor: not-allowed;
}

.edit,
.submit {
  background-color: $darkBlue;
  margin-right: 0.5rem;
}

.upload,
.export {
  background-color: $darkGreen;
}

.add {
  background-color: $lightBlue;
  margin-left: 55rem;
  @include desktopSmall {
    margin-left: 50.5rem;
  }
  @include tabletLandscape {
    margin-left: 40rem;
  }
  @include tabletSmall {
    margin-left: 36rem;
  }
  @include tabletSmallSecond {
    margin-left: 31rem;
  }
  @include mobile {
    margin-left: 28rem;
  }
  @include mobileSecond {
    margin-left: 23rem;
  }
  @include mobileSmall {
    margin-left: 19rem;
  }
  @include mobileSmallSecond {
    margin-left: 16rem;
  }
  @include mobileSmallThird {
    margin-left: 12rem;
  }
  @include mobileSmallest {
    margin-left: 8rem;
  }
}
